body {
  background-color: rgb(240, 240, 255);
}

.header {
  border-radius: 10px;
  background-color: rgb(186, 206, 243);
  text-align: center;
  padding: 1px;
  margin-top: 2px;
}

.single-item {
  border-radius: 10px;
  padding-top: 2px;
  margin-top: 1px;
  background-color: rgb(208, 220, 241);
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
}

#all-article-imgs {
  width: 100%;
}

li {
  list-style: none;
  /* border: solid black; */
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  padding: 5px;
}

.comments {
  border-radius: 10px;
  list-style: none;
  background-color: rgb(186, 206, 243);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  padding: 5px;
}

.articles {
  border-radius: 10px;
  padding-top: 2px;
  margin-top: 1px;
  background-color: rgb(208, 220, 241);
  padding-left: 3px;
  padding-right: 3px;
}

#status-msg {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.users {
  border-radius: 10px;
  background-color: rgb(186, 219, 250);
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
}

#user {
  border-radius: 10px;
  background-color: white;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 8px;
}
.all-articles {
  color: black;
}

#article-title {
  text-align: center;
}

.topics {
  border-radius: 10px;
  text-align: center;
  margin-top: 1px;
  background-color: rgb(208, 220, 241);
  padding: 7px;
}

#comment-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  overflow: auto;
  height: 150px;
  width: 98%;
  resize: none;
}

.form-input {
  margin-top: 50px;
}

#collapsible-button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comment-form {
  text-align: center;
}

#submit-button {
  margin-bottom: 15px;
}

#error {
  text-align: center;
  color: red;
  font-weight: bold;
}

#positive-message {
  text-align: center;
  color: rgb(0, 187, 0);
  font-size: xx-large;
  font-weight: bold;
}

#black-message {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.error {
  border-radius: 10px;
  font-size: x-large;
  color: rgb(0, 0, 0);
  text-align: center;
}

.topic {
  border-radius: 10px;
  background-color: rgb(186, 206, 243);
  text-align: center;
  padding: 1px;
  color: black;
}

#article-title {
  text-align: center;
}

.sort {
  display: inline-block;
  margin-left: 3px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.order {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
}

#comment-count {
  margin: 0px;
  padding: 0px;
}

#comments-title {
  font-size: xx-large;
  text-align: center;
  margin: 0px;
}
