body {
  background-color: rgb(176, 207, 168);
}

.header {
  border: solid rgb(97, 158, 216);
  background-color: rgb(186, 219, 250);
  text-align: center;
}

#single-item {
  background-color: green;
}
#all-article-imgs {
  width: 100%;
}

li {
  list-style: none;
}

.articles {
  border: solid red;
  background-color: rgb(255, 121, 143);
  padding-left: 10px;
  padding-right: 10px;
}

#status-msg {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.users {
  border: solid white;
  background-color: rgb(186, 219, 250);
  padding-left: 10px;
  padding-right: 10px;
}

#user {
  background-color: white;
}